footer
  .container
    .row
      .span12
        p powered by expressive.js 
        a(href='http://github.com/achan/expressivejs', title='Fork me', alt='expressivejs on GitHub')
          i.icon-github-alt.fork-me

