.navbar.navbar-fixed-top#navbar
  .navbar-inner
    ul.nav
      li#siteName
        a(href='/')!= config.name
      li.divider-vertical
      li
        a(href='/tags') tags
      li
        a(href='/about') about
      li
        a(href='/commits') commits
