doctype 5
html
  head
    title Expressive Blog Engine
    link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css', type='text/css')
    link(rel='stylesheet', href='/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/styles.min.css', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100|Fjalla+One|Rambla', type='text/css')
    block css
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block scripts
  body
    include includes/header
    block content
    include includes/footer
