{
  "name": "expressive",
  "tagLine": "The ExpressJS Blogging Engine",
  "footer": "expressivejs: the expressjs blogging engine"
  "googleAnalyticsId": { "account": "your-account-id",
                         "domainName": "your-registered-domain-name" }
}
