extends ../layout

block content
  .container
    .row
      .span12
        h1 Add a blog post
        form.form-horizontal(method='post', action='/posts/add', name='postForm')
          .control-group
            label.control-label(for='postTitle') Title
            .controls
              input.input-xlarge(type='text', name='post[title]', placeholder='Title')
          .control-group
            label.control-label(for='postContent') Content
            .controls
              textarea.input-xxlarge(name='post[content]', placeholder='Content', style='height: 300px')
          .form-actions
            input.btn.btn-primary(type='submit') Post 
            button.btn(type='button') Cancel
