extends ../layout

block content
  .container.post
    .row
      .span7
        h1.post-title #{post.title}
        .post-meta
          | #{fromNow(post.created)} 
          for tag in post.tags
            | ##{tag} 
            

        .post-content !{marked(post.content)}
